@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lora:wght@400;500;600&family=Merienda&family=Poppins:wght@400;500;600&family=Roboto+Mono:wght@400;500;600&family=Square+Peg&display=swap');

.product__details{
  display: flex;
  gap: 40px;
  padding: 50px;
  border-bottom: 1px solid rgb(212, 212, 212);
}
.footer{
  font-family: 'Poppins';
  bottom:0;
  width:100%;
  height:50px;  
  background-color: rgb(113, 80, 39);
  text-align: center;
  border-top: 1px solid rgb(195, 195, 195);
  color: white;
}
.featured__tutorials{
  color: rgb(118, 12, 128);
  font-size: 25px;
  margin-left: 50px;
  margin-top: 20px;
}
.trending__technologies{
  color: rgb(118, 12, 128);
  font-size: 25px;
  margin-left: 50px;
  margin-top: 20px;
}
.trending__details{
  display: flex;
  gap: 40px;
  padding: 50px;
  border-bottom: 1px solid rgb(212, 212, 212);
}
.main{
  display: flex;
  font-family: 'Poppins';
}
.main_bottom_card{
display: flex;
}
.latest__up{
  display: flex;
  flex-direction: column;
}
.web__tech{
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgb(212, 212, 212);
}
.latest__updates{
  color: rgb(118, 12, 128);
  font-size: 25px;
  margin-left: 50px;
  margin-top: 20px;
}
.web__technology{
  color: rgb(118, 12, 128);
  font-size: 25px;
  margin-left: 50px;
  margin-top: 20px;
}
.main__left{
  border-right: 1px solid rgb(242, 242, 242);
}
.table_of_content{
   width: 220px;
   background-color: rgb(242, 242, 242);
   height: 100%;
   border-right: 1px solid rgb(215, 215, 215);
   padding-top: 15px;
   color: rgb(118, 12, 128);
   font-weight: 550;
}
 ul {
  list-style: none;
} 
ul li{
  margin-left: -1em;
  margin-top: 10px;
  color: rgb(139, 139, 139);
}
.content__heading{
  margin-left: 15px;
  font-size: 24px;
}
.bulb{
  width: 30px;
  cursor: pointer;
  margin-right: 30px;
}
.dark__bulb{
  width: 30px;
  cursor: pointer;
  margin-right: 30px;
  background-color: white;
  color: white;
}
.dark{
  background-color: rgb(31, 29, 29);
  color: aliceblue;
}
.blog{
  height: 100vh;
}
.login__form{
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(220, 220, 220);
  width: 290px;
  height:400px;
  padding:35px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 3px 2px gray;
}
.signup__form{
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(220, 220, 220);
  width: 290px;
  height:530px;
  padding:35px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 3px 2px gray;
}
.email{
  width: 220px;
  height: 47px;
  text-indent: 15px;
  margin-top: 30px;
  border-radius: 20px;
  border: 1px solid rgb(198, 198, 198);
}
.password{
  width: 220px;
  height: 47px;
  text-indent: 15px;
  margin-top: 30px;
  border-radius: 20px;
  border: 1px solid rgb(198, 198, 198);
}
.username{
  width: 220px;
  height: 47px;
  text-indent: 15px;
  margin-top: 30px;
  border-radius: 20px;
  border: 1px solid rgb(198, 198, 198);
}
.number{
  width: 220px;
  height: 47px;
  text-indent: 15px;
  margin-top: 30px;
  border-radius: 20px;
  border: 1px solid rgb(198, 198, 198);
}
.login__btn{
  width: 220px;
  height: 47px;
  background-color: black;
  color: white;
  border: 1px;
  margin-top: 30px;
  border-radius: 20px;
  border: 1px solid rgb(198, 198, 198);
}
.signup__btn{
  width: 220px;
  height: 47px;
  background-color: black;
  color: white;
  border: 1px;
  margin-top: 50px;
  border-radius: 20px;
  border: 1px solid rgb(198, 198, 198);
}
.login{
  height: 100vh;
  width: 100%;
  padding-left: 550px;
  padding-top: 100px;
  background-repeat: no-repeat;
  background-color: rgb(153, 217, 246);
}
.signup{
  height: 100%;
  padding-left: 550px;
  padding-top: 100px;
  background-color: rgb(153, 217, 246);
}
.signup__heading{
  margin-left: 70px;
}
.login__heading{
  margin-left: 80px;
}

.new__account{
  font-size: 13px;
  margin-left:98px;
  width: 500px;
  margin-top: 20px;
  cursor: pointer;
 
}
.already__account{
  font-size: 13px;
  margin-left:71px;
  margin-top: 20px;
  cursor: pointer;
  
}
.forgot__password{
  font-size: 13px;
  margin-left:115px;
  width: 500px;
}
.new_account_link{
  text-decoration: none;
  color: black;
}
.already_account_link{
  text-decoration: none;
  color: black;
}
.main__container{
  display: flex;
  flex-direction: column;
}
.main__second{
  display: flex;
  padding-top: 3px;
}
.nav{
  align-items: center;
  border-bottom: 1px solid rgb(150, 150, 150);
  position: fixed;
  width: 100%;
  height: 50px;
  font-family: 'Poppins'; 
  z-index: 1;
}
.nav__container{
  height:500px;

   background-image: url("coding.jpg"); 
  background-repeat: no-repeat;
  background-size:100% 650px;
  box-shadow: 6px 2px 1px rgb(169, 168, 168);
}
.nav__home{
  margin-left:20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 500;

  width: 60px;
  height: 35px;
  padding-top: 5px;
  padding-left: 5px;
  
}
.nav__new{
  margin-left:20px;
  text-decoration: none;
 
  color: rgb(255, 255, 255);
  padding-top: 5px;
  padding-left: 7px;
  width: 125px;
  height: 35px;
 
 
}
.nav__help{
  margin-left:20px;
  text-decoration: none;
  
  color: rgb(255, 255, 255);
  padding-top: 5px;
  padding-left: 16px;
  width: 125px;
  height: 35px;
  
  
}
.nav__search{
  margin-left: 20px;
  text-indent: 15px;
  border-radius: 15px;
  border: 1px solid rgb(190, 190, 190);
}
.nav__login{
  margin-left:8px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 6px;
  width: 55px;
  height: 30px;
  font-size:17px;
  margin-top: -0.6rem;
}
.nav__title{
  margin-left: 30px;
  font-size: 25px;
  color: rgb(234, 92, 154);
}
.nav__para{
  margin-left: 200px;
  color: rgb(255, 255, 255);
}

.get__started{
  margin-top: 70px;
  font-size:50px;
  margin-left: 200px;
  color: rgb(255, 255, 255);
  font-family: 'Caveat';

}
.get_started_btn{
  margin-left: 200px;
  cursor: pointer;
 border: 2px solid gray;
  color: rgb(255, 255, 255);
  background-color: transparent;
  font-size: 15px;
  padding: 10px;
  font-weight: 500;
}
.contact_us_btn{
  margin-left: 30px;
  cursor: pointer;
  border: 1px solid; 
  color: rgb(0, 0, 0);
  font-size: 15px;
  padding: 10px;
  font-weight: 500;
  background-color: rgb(255, 255, 255);
}
.light__bulb{
  width: 30px;
  margin-left: 410px;
  cursor: pointer;
}
.black__bulb{
  width: 30px;
  margin-left: 410px;
  background-color: transparent;
}
.nav__bottom{
  position: absolute;
  margin-top: 90px;
}
.password__error{
  color: rgb(221, 46, 46);
  margin-left:95px;
  font-size: 13px;
}
.email__error{
  font-size: 13px;
  color: rgb(221, 46, 46);
  margin-left: 120px;
}
.number__error{
  font-size: 13px;
  color: rgb(221, 46, 46);
  margin-left: 105px;
}
.username__error{
  font-size: 13px;
  color: rgb(221, 46, 46);
  margin-left: 95px;
}
.icon{
  color: rgb(4, 0, 2);
  margin-top: -0.5rem;
  margin-left: 15px;
  }
  .get__started {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 310%;
    }
  
    75% {
      font-size: 310%;
      width: 150%;
    }
  }