@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Caveat:wght@400;500;600&family=Dancing+Script:wght@400;500;600&family=Libre+Bodoni:ital,wght@0,400;0,500;1,600&family=Lora:wght@400;500;600&family=Merienda&family=Playfair+Display:wght@400;500;600&family=Poppins:wght@400;500;600&family=Roboto+Mono:wght@400;500;600&family=Square+Peg&display=swap');

.product__details {
  display: flex;
  gap: 40px;
  padding: 50px;
}

.footer {
  font-family: 'Poppins';
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: rgb(60, 157, 206);
  text-align: center;
  border-top: 1px solid rgb(195, 195, 195);
  color: rgb(0, 0, 0);
  
}

.featured__tutorials {
  color: rgb(128, 123, 123);
  font-size: 25px;
  margin-left: 50px;
  margin-top: 20px;
  font-weight: 600;
}

.tutorials__icon {
  width: 30px;
  margin-left: 15px;
}

.trending__technologies {
  color: rgb(128, 123, 123);
  font-size: 25px;
  margin-left: 50px;
  margin-top: 20px;
  font-weight: 600;
}

.trending__details {
  display: flex;
  gap: 40px;
  padding: 50px;
}

.tech__icon {
  width: 30px;
  margin-left: 15px;
}

.main {
  display: flex;
  font-family: 'Poppins';
  background-color: white;
}

.main_bottom_card {
  display: flex;
}

.latest__up {
  display: flex;
  flex-direction: column;
}

.web__tech {
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgb(212, 212, 212);
}

.latest__updates {
  color: rgb(128, 123, 123);
  font-size: 25px;
  margin-left: 50px;
  margin-top: 20px;
  font-weight: 600;
}

.web__technology {
  color: rgb(128, 123, 123);
  font-size: 25px;
  margin-left: 50px;
  margin-top: 20px;
  font-weight: 600;
}

.main__left {
  border-right: 1px solid rgb(242, 242, 242);
}

.table_of_content {
  width: 130px;
  background-color: rgb(242, 242, 242);
  height: 100%;
  border-right: 1px solid rgb(215, 215, 215);
  padding-top: 15px;
  color: rgb(118, 12, 128);
  font-weight: 550;
}

.table_of_content ul {
  list-style: none;
}

.table_of_content ul li {
  margin-left: -1em;
  margin-top: 10px;
  color: rgb(139, 139, 139);
}

.content__heading {
  margin-left: 15px;
  font-size: 24px;
}

.bulb {
  width: 30px;
  cursor: pointer;
  margin-right: 30px;
}

.dark__bulb {
  width: 30px;
  cursor: pointer;
  margin-right: 30px;
  background-color: white;
  color: white;
}

.dark {
  background-color: rgb(31, 29, 29);
  color: aliceblue;
  box-shadow: 3px 2px 3px rgb(64, 62, 62);
  filter: drop-shadow(10px 5px 5px rgb(69, 67, 67));
}

.login__form {
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 400px;
  padding: 35px;
  background-color: white;
  box-shadow: 5px 5px 10px rgb(218, 217, 217);
}

.signup__form {
  display: flex;
  flex-direction: column;
  border: 1px;
  width: 290px;
  height: 500px;
  padding: 30px;
  font-size: 13px;
  background-color: white;
  box-shadow: 5px 5px 10px rgb(218, 217, 217);
}

.email {
  width: 180px;
  height: 47px;
  text-indent: 15px;
  margin-top: 30px;
  margin-left: 20px;
  border: 1px;
  border-bottom: 1px solid rgb(195, 195, 195);
  border-radius: 8px;
}

.password {
  width: 180px;
  height: 47px;
  text-indent: 15px;
  margin-top: 30px;
  margin-left: 20px;
  border: 1px;
  border-bottom: 1px solid rgb(195, 195, 195);
  border-radius: 8px;
}

.username {
  width: 180px;
  height: 47px;
  text-indent: 15px;
  margin-top: 30px;
  margin-left: 20px;
  border-radius: 8px;
  border: 1px;
  border-bottom: 1px solid rgb(195, 195, 195);
}

.number {
  width: 180px;
  height: 47px;
  text-indent: 15px;
  margin-top: 30px;
  margin-left: 20px;
  border-radius: 8px;
  border: 1px;
  border-bottom: 1px solid rgb(195, 195, 195);
}

.login__btn {
  width: 70px;
  height: 67px;
  margin-top: 30px;
  margin-left: 150px;
  border-radius: 50%;
  border: 1px;
  border-bottom: 1px solid;
  background-color: black;
  color: white;
}

.signup__btn {
  width: 70px;
  height: 67px;
  background-color: black;
  color: white;
  border: 1px;
  margin-top: 30px;
  margin-left: 150px;
  border-radius: 50%;
  border: 1px solid rgb(198, 198, 198);
}

.login {
  height: 100vh;
  width: 100%;
  padding-left: 550px;
  padding-top: 100px;
}

.signup {
  height: 100vh;
  width: 100%;
  padding-left: 550px;
  padding-top: 50px;
}

.signup__heading {
  margin-left: 63px;
  font-weight: 300;
  font-size: 20px;
  color: rgb(99, 169, 219);
}

.login__heading {
  margin-left: 55px;
  font-weight: 300;
  color: rgb(99, 169, 219);
}


.forgot__password {
  font-size: 13px;
  margin-left: 115px;
  width: 500px;
}

.new_accnt_link{
  text-decoration: none;
  color: black;
  margin-top: -18px;
  margin-left: 23px;
  position: absolute;
}
.new__accnt{
   font-size: 13px;
}
.already_accnt_link{
  text-decoration: none;
  color: black;
  margin-top: -18px;
  margin-left: 17px;
  position: absolute;
}
.already__accnt{
  font-size: 12px;
}

.main__container {
  display: flex;
  flex-direction: column;
}

.main__second {
  display: flex;
  padding-top: 3px;
}

.nav {
  align-items: center;
  border-bottom: 1px solid rgb(209, 204, 204);
  position: fixed;
  width: 100%;
  height: 65px;
  font-family: 'Poppins';
  z-index: 1;
  background-color: white;
  box-shadow: 1px 1px 5px 1px rgb(182, 182, 182);
}

.nav__container {
  height: 600px;
  background-image: url("welcomepic5.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 650px;
}

.nav__home {
  margin-left: 20px;
  text-decoration: none;
  color: rgb(106, 106, 106);
  font-weight: 500;
  font-weight: 600;
  width: 60px;
  height: 35px;
  padding-top: 5px;
  padding-left: 5px;
}
.nav__home:hover{
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

.nav__new {
  text-decoration: none;
  color: rgb(106, 106, 106);
  padding-top: 5px;
  padding-left: 7px;
  width: 125px;
  height: 35px;
  font-weight: 600;
}
.nav__new:hover{
  text-decoration: underline;
  color: black;
}
.nav__help {
  text-decoration: none;
  color: rgb(106, 106, 106);
  padding-top: 5px;
  width: 125px;
  height: 35px;
  font-weight: 600;
}
.nav__help:hover{
  color: black;
  text-decoration: underline;
}

.nav__search {
  margin-left: 20px;
  text-indent: 15px;
  border-radius: 15px;
  border: 1px solid rgb(190, 190, 190);
}
.nav__blog {
  text-decoration: none;
  color: rgb(106, 106, 106);
  font-size: 19px;
  margin-left: -1rem;
  font-weight: 600;
}
.nav__blog:hover{
  color: black;
  text-decoration: underline;
}
.nav__todo{
  text-decoration: none;
  color: rgb(106, 106, 106);
  font-size: 19px;
  margin-left:9px;
  font-weight: 600;
}
.nav__todo:hover{
  color: black;
  text-decoration: underline;
}

.nav__login {
  margin-left: 8px;
  text-decoration: none;
  color: rgb(99, 169, 219);
  padding: 6px;
  width: 55px;
  height: 30px;
  font-size: 17px;
  margin-top: -0.6rem;
  font-weight: 600;
}
.nav__login:hover{
  text-decoration: underline;
  color: black;
}

.nav__title {
  margin-top: 4px;
  margin-left: 50px;
  font-size: 25px;
  color: rgb(99, 169, 219);
  font-weight: 600;
}

.nav__para {
  margin-left: 373px;
  color: rgb(0, 0, 0);
}

.nav__para2 {
  color: rgb(0, 0, 0);
  font-size: 13px;
}

.nav_menu_icon {
  width: 23px;
  margin-left: 30px;
  margin-top: -10px;
  cursor: pointer;
}
.nav_are_you{
  margin-left: 373px;
  
}
.nav__typical{
  margin-left: 480px;
  margin-top: -44px;
  font-weight: 700;
  font-size: 25px;
  color: rgb(255, 249, 249);
  text-shadow: 2px 3px 4px rgb(150, 150, 150);
}


.get__started {
  margin-top:75px;
  font-size: 44px;
  margin-left: 370px;
  color: rgb(93, 93, 93);
  font-weight: 700;
}
.get__started span{
  font-weight:400;
  font-family: 'Playfair';
}
.get_started_btn {
  text-decoration: none;
  margin-left: 373px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 15px;
  padding: 10px;
  background-color:rgb(44, 127, 187);
  border-radius: 6px;
  border: 1px;
}
.get_started_btn:hover{
  background-color:white;
  color: black;
}
.contact_us_btn {
  margin-left: 40px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 15px;
  padding: 10px;
  border: 1px;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  width: 110px;
}
.contact_us_btn:hover{
  background-color:rgb(44, 127, 187);
  color: white;
}

.light__bulb {
  width: 30px;
  margin-left: 350px;
  cursor: pointer;
}

.black__bulb {
  width: 30px;
  margin-left: 350px;
  background-color: transparent;

}

.nav__bottom {
  position: absolute;
  margin-top: 90px;
}

.password__error {
  color: rgb(221, 46, 46);
  margin-left: 95px;
  font-size: 13px;
}

.email__error {
  font-size: 13px;
  color: rgb(221, 46, 46);
  margin-left: 120px;
}

.number__error {
  font-size: 13px;
  color: rgb(221, 46, 46);
  margin-left: 105px;
}

.username__error {
  font-size: 13px;
  color: rgb(221, 46, 46);
  margin-left: 95px;
}

.icon {
  color: rgb(4, 0, 2);
  margin-top: -0.5rem;
  margin-left: 15px;
}

.new {
  height: 100vh;
}

.new__title {
  margin-left: 30px;
  margin-top: 20px;
  font-size: 30px;
  text-decoration: underline;
  color: rgb(118, 12, 128);
}

.nav__bottom {
  display: flex;
}
.services__heading{
  font-family: 'Poppins';
}

.services {
  justify-content: center;
  font-size: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: rgb(44, 127, 187);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: 'Playfair Display';
  z-index: 1;
  margin-top: -190px;
}

.services{
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.services__web{
  color: black;
}
.services__app{
  color: black;
}
.services__seo{
  color: black;
}

.nav_service_arrow {
  width: 60px;
  height: 60px;
  margin-left: 1094px;
  margin-top: 300px;
  border: 1px solid rgb(85, 85, 85);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
  position: fixed;
  box-shadow: 1px 2px 5px 3px gainsboro;
}

.nav_service_arrow:hover {

  width: 61px;
  height: 61px;
}

.services__list {
  display: flex;
  font-size: 25px;
  margin-top: 40px;
}



.web_service_img {
  width: 50px;
  margin-left: 74px;
}

.app_service_img {
  width: 50px;
  margin-left: 74px;
}

.seo_service_img {
  width: 50px;
  margin-left: 130px;
}
.web_service_container {
  margin-left: 110px;
  border: 1px solid black;
  height: 130px;
  width: 230px;
  padding-left: 15px;
  padding-top: 15px;
  cursor: pointer;
}

.app_service_container {
  margin-left: 20px;
  border: 1px solid black;
  height: 130px;
  width: 230px;
  padding-left: 15px;
  padding-top: 15px;
  cursor: pointer;
}

.seo_service_container {
  margin-left: 20px;
  border: 1px solid black;
  height: 130px;
  width: 350px;
  padding-left: 15px;
  padding-top: 15px;
  cursor: pointer;
}

.nav__services {
  border: 2px ;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-left: 150px;
  margin-top: 110px;
  background-color: rgb(99, 169, 219);
  cursor: pointer;
  color: white;
  box-shadow: 1px 5px 6px rgb(100, 100, 100);
}
.nav_services_btn {
  margin-top: 28px;
  margin-left:13px;
  font-size: 13px;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.blog {
  height: 100vh;
  background-color: rgb(255, 255, 255);
  padding-top: 30px;
}
.blog__contents{
  display: flex;
}
.blog__title {
  font-size: 30px;
  margin-left: 20px;
  color: rgb(60, 157, 206);
}

.blog__para1 {
  margin-left: 20px;
}


.blog__img {
  margin-left: 800px;
  position: absolute;
}

.blog__contents {
  display: flex;
}

.blog__list ul li {
  margin-left: 20px;
  font-weight: 100;
  font-size: 20px;
}

.blog__list ul li:hover {
  color: rgb(43, 147, 226);
  margin-left: 25px;
  font-weight: 600;
  font-size: 20px;
}

.blog__list ul {
  list-style: none;
}

.blog__list ul li::before {
  content: "\2022";
  color: rgb(0, 0, 0);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.product {
  cursor: pointer;
  border: 1px ;
  height: 300px;
}
.product:hover{
  height: 310px;
}
.product__img{
  width: 80px;
  filter: drop-shadow(5px 5px 5px rgb(105, 105, 105));
}
.product__img:hover{
  width: 85px;
  filter: drop-shadow(5px 5px 5px rgb(105, 105, 105));
}
.product__title{
  font-weight: 600;
  color: rgb(67, 67, 67);

}
.product__para{
 text-align: start;
 margin-top: 20px;
}
.product__page {
  height: 100vh;
}
.trending{
  cursor: pointer;
  border: 1px ;
  height: 300px;
}
.trending__img{
  width: 80px;
  filter: drop-shadow(5px 5px 5px rgb(105, 105, 105));
}
.trending__img:hover{
  width: 85px;
  filter: drop-shadow(5px 5px 5px rgb(105, 105, 105));
}
.trending__para{
  text-align: start;
  margin-top: 20px;
}
.trending__title{
  font-weight: 600;
  color: rgb(63, 63, 63);
}

.intro {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(247, 247, 247);
}
.intro:hover{
   background-color: white;
}

.intro__title {
  color: rgb(0, 0, 0);
}

.intro_second_title {
  font-weight: 600;
  color: black;
}

.intro_title_span {
  font-size: 50px;
  font-weight: 600;
  color: rgb(99, 169, 219);
}

.intro__icons {
  display: flex;
  gap: 45px;
  margin-top: 20px;
}

.intro_icon_react {
  width: 50px;
  cursor: pointer;
  filter: drop-shadow(2px 3px 1px rgb(140, 140, 140));
}

.intro_icon_react:hover {
  background-color: rgb(190, 255, 255);
}

.intro_icon_js {
  width: 50px;
  cursor: pointer;
  filter: drop-shadow(2px 3px 1px rgb(140, 140, 140));
}

.intro_icon_js:hover {
  background-color: rgb(255, 249, 187);
}

.intro_icon_css {
  width: 50px;
  cursor: pointer;
  filter: drop-shadow(2px 3px 1px rgb(140, 140, 140));
}

.intro_icon_css:hover {
  background-color: rgb(200, 216, 255);
}

.intro_icon_html {
  width: 50px;
  cursor: pointer;
  filter: drop-shadow(2px 3px 1px rgb(140, 140, 140));
}

.intro_icon_html:hover {
  background-color: rgb(255, 204, 183);
}

.intro__para {
  color: black;
}
.goal__container{
  display: flex;
}

.goal {
  background-image: url("typewhite.jpg");
  width: 550px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(70%);
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 margin-left: -2px;
}
.goal__typical{
  position: absolute;
  z-index: 1;
  color: white;
  margin-top: 447px;
  margin-left: 172px;
  font-size: 30px;
  font-weight: 700;
  border: 1px solid;
  height: 35.5px;
  padding-left:15px;
}

.goal__title {
  color: rgb(25, 160, 209);
  font-weight: 600;
  margin-left: 100px;
  margin-top: 180px;
  font-size: 45px;
  font-family: 'Playfair';
}

.goal__para {
  color: rgb(115, 110, 110);
  font-size: 16px;
  margin-left:105px;
  font-weight: 100;
  margin-top: 40px;
}
.goal__arrow{
  width: 370px;
  margin-top: -100px;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 50%;
  padding:170px;
  margin-left: -65px;
  cursor: pointer;
}

.goal__just{
  margin-top:447px;
  margin-left: 95px;
  font-weight: 700;
  border: 1px solid rgb(0, 0, 0);
  width: 80px;
  height: 36px;
  padding-left:12px ;
  padding-top: 3px;
  box-shadow: 1px 1px 5px gray;
}

.menu li {
  list-style: none;
  margin-left: 100px;
  margin-top: 5px;
  font-weight: 100;
  cursor: pointer;
}

.menu {
  justify-content: center;
  font-size: 25px;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
 
}

.menu{
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.close {
  width: 24px;
  height: 18px;
  margin-left: 31px;
  margin-top: -10px;
  cursor: pointer;
  z-index: 1;
}

.menu__logo {
  width: 17px;
}

.menu__title {
  position: absolute;
  z-index: 1;
  font-size: 18px;
  margin-left: 53px;
  margin-top: -11px;
  color: rgb(118, 12, 128);
}
.instructor{
  display: flex;
  margin-bottom: 70px;
}
.instructor__btn{
  margin-left: 300px;
  border: 1px ;
  background-color:white;
  height: 30px;
  width: 140px;
  border-radius: 6px;
  color: rgb(0, 0, 0);
  box-shadow: 3px 2px 5px gray;
  font-size: 10px;
}
.instructor__para{
  display: flex;
  text-align: center;
  font-size:20px;
  color: rgb(122, 130, 133);
  font-family: 'Poppins';
  margin-top: 190px;
  margin-left:180px;
  font-weight: 100;
}
.instructor__img{
  width: 400px;
  height:400px;
  margin-top: 40px;
  margin-left:135px;

}
.why__logo{
  width: 260px;
}
.why__popup{
  width: 1400px;
  height: 550px;
  background-color: rgb(255, 255, 255) ;
  z-index: 2;
  margin-left: -960px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.why_popup_para{
  font-size: 50px;
  font-weight: 600;
  color:  rgb(60, 157, 206);
  margin-left: 60px;
}
.why__popup ul{
  color: rgb(78, 81, 82);
  font-size: 20px;
  margin-left: 59px;
}
.why__popup ul li span{
  text-decoration: underline ;
  cursor: pointer;
}
.why__popup ul li span:hover{
  text-decoration: none ;
  color: rgb(107, 122, 125);
}
.instructor__page{
  background-color: rgb(99, 169, 219);
  margin-left: -1050px;
  width: 1400px;
  height: 550px;
  margin-top: -20px;
  display: flex;
  align-items: center;
  box-shadow: 1px 3px 8px gray;
}

/* .instructor__page{
  animation-duration: 1.5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 1300px;
  }

  to {
    margin-left: -1025px;;
    width: 1400px;
  }
} */
.instructor_page_title{
  margin-top: -40px;
  margin-left: 165px;
  font-size: 37px;
  color: rgb(0, 0, 0);
 
}
.instructor__page ol li{
  font-size:15px;
  margin-left: 30px;
  margin-top: 22px;
  font-weight: 200;
  color: rgb(255, 255, 255);
}
.instructor_page_list{
  display: flex;
  flex-direction: column;
}
.recruiting__contact{
  margin-left: 46px;
}
.recruiting__contact span{
  color: #fff;
}
.itteacher1__img{
  width: 600px;
  border: 1px solid black;
  margin-top: 80px;
  margin-left:150px;
}
.premium__container{
  border-top: 1px solid rgb(222, 222, 222);
}
.premium {
  display: flex;
  margin-bottom: 80px;
  
}

.premium__img {
  width: 290px;
  height: 280px;
  margin-left: 90px;
  margin-top: 70px;
  padding: 35px;
  filter: drop-shadow(10px 5px 5px rgb(192, 192, 192));
}
.premium__title{
  color: rgb(60, 157, 206);
  font-size: 27px;
  font-weight: 700;
  margin-top: 150px;
  margin-left: 370px;
}
.premium__para{
  margin-left:277px;
}
.premium__btn{
  width: 122px;
  height: 30px;
  border: 1px ;
  background-color: white;
  border-radius: 6px;
  margin-left: 423px;
  box-shadow: 5px 5px 6px rgb(202, 202, 202);
  color: rgb(0, 0, 0);
}
.more__btn {
  background-color: rgb(39, 185, 247);
  border: 1px;
  border-radius: 6px;
  width: 70px;
  height: 30px;
  margin-top: 25px;
}

.vl1 {
  border-left: 1px solid rgb(197, 197, 197);
  margin-left: 70px;
  height: 800px;
}

.vl2 {
  border-left: 1px solid rgb(197, 197, 197);
  margin-left: 70px;
  height: 500px;
  margin-top: -90px;
}

.start {
  height: 100%;
  padding: 45px;
  background-color: rgb(255, 255, 255);
}

.start__tutorials {
  border: 1px solid rgb(25, 160, 209);
  width: 170px;
  height: 30px;
  margin-left: 540px;
  cursor: pointer;
  text-decoration: none;
}

.start__tutorials:hover {
  box-shadow: 3px 2px 13px 2px rgb(210, 210, 210);
}

.start_tutorials_link {
  text-decoration: none;
}

.start_tutorials_tag {
  padding-left: 53px;
  text-decoration: none;
  color: rgb(102, 102, 102);
}

.start_next_tutorials {
  margin-top: 30px;
  margin-left: 30px;
  font-size: 22px;
  text-align: center;
}

.start__title {
  color: rgb(25, 160, 209);
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-family: 'Poppins';
}

.get_started_heading {
  color: rgb(151, 64, 64);
  font-weight: 700;
}

.next__jump {
  font-weight: 700;
  font-family: 'Square Peg';
  font-size: 30px;
  margin-left: 100px;
}

.jump {
  display: flex;
}

.arrow__img {
  width: 60px;
  margin-left: 20px;
  margin-top: -10px;
}

.nav_service_arrow {
  animation: fadeInAnimation ease 7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.close {
  animation: fadeInAnimation ease 12s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hello__everyone {
  color: rgb(39, 86, 143);
  font-size: 30px;
  font-weight: 400;
}

.happycoding__img {
  width: 430px;
  height: 350px;
  margin-left: 120px;
}

.happycoding1__img {
  width: 675px;
  height: 400px;
  margin-left: -45px;
  margin-top: 146px;
  position: absolute;
}

.happycoding2__img {
  width: 675px;
  height: 400px;
  margin-top: 163px;
}

.happycoding3__img {
  width: 430px;
  height: 232px;
  margin-top: 63px;
  margin-left: 130px;
}

.start_para_img {
  display: flex;
  margin-top: 90px;
}

.start__para1 {
  margin-left: 210px;
  font-size: 13px;
  width: 350px;
}

.start__para2 {
  margin-left: 120px;
  font-size: 13px;
  width: 350px;
  margin-top: 63px;
}

.letsgo__btn {
  background-color: rgb(0, 164, 197);
  border: 1px;
  width: 130px;
  margin-left: 40px;
  margin-top: 8px;
}

.contact {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  z-index: 1;
}
.footer__email {
  margin-left: 30px;
  margin-top: 50px;
  font-size: 10px;
  color: rgb(254, 246, 246);
}

.footer__number {
  font-size: 10px;
  margin-top: 50px;
  color: rgb(254, 246, 246);
  margin-left: 500px;
}

.footer__statment {
  font-size: 10px;
  margin-left: 230px;
  color: rgb(254, 246, 246);
}

.product_page_heading {
  color: brown;
}
.btn{
  text-decoration: none;
  border: 2px solid #94a1a0;
  color: rgb(25, 160, 209);
  padding: 10px 20px;
  transition: all 0.5s;
  overflow: hidden;
  position: relative;
  margin-left: 580px;
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(25, 160, 209);
  transition: all 1s;
 z-index: -1;
  transform: translateX(-100%);
}
.btn:hover::before {
  transform: translateX(0);
}
.btn:hover {
  color: #fff;
  z-index: 1;
}
.work{
  border-top: 1px solid rgb(219, 219, 219);
  margin-bottom: 70px;
}
.work__container{
  margin-top: 80px;
}
.work__title{
  color: rgb(60, 157, 206);
  font-weight: 600;
  margin-left: 370px;
}
.work__left{
  display: flex;
}
.work_para_icons{
  margin-top: 50px;
  margin-left: 180px;
}


.work__para{
  margin-left: 170px;
  color: gray;
}
.packit{
  width: 100px;
  cursor: pointer;
  margin-left:60px;
}
.packit:hover{
  width: 101px;
  filter: drop-shadow(5px 5px 5px rgb(155, 155, 155));
}
.olx{
  width: 100px;
  cursor: pointer;
  margin-left: 60px;
}
.olx:hover{
  width: 101px;
  filter: drop-shadow(5px 5px 5px rgb(155, 155, 155));
}
.ecommerce{
  width: 100px;
  cursor: pointer;
  margin-left: 60px;
}
.ecommerce:hover{
  width: 101px;
  filter: drop-shadow(5px 5px 5px rgb(155, 155, 155));
}
.amazon{
  width: 100px;
  margin-left: 60px;
  cursor: pointer;
 margin-top: 30px;
}
.amazon:hover{
  width: 101px;
  filter: drop-shadow(5px 5px 5px rgb(155, 155, 155));
}
.netflix{
  width: 100px;
  margin-left: 60px;
  cursor: pointer;
  margin-top: 30px;
}
.netflix:hover{
  width: 101px;
  filter: drop-shadow(5px 5px 5px rgb(155, 155, 155));
}
.tesla{
  width: 100px;
  margin-left:60px;
  cursor: pointer;
  margin-top: 30px;
}
.tesla:hover{
  width: 101px;
  filter: drop-shadow(5px 5px 5px rgb(155, 155, 155));
}
.help{
  padding: 28px;
  background-color: rgb(255, 255, 255);
  height: 100%;
}
.help__title{
  color:rgb(60, 157, 206) ;
  font-size: 35px;
  font-weight: 100;
}
.help ol li{
  margin-top: 30px;
  font-weight: 600;
  font-size: 22px;
  color: #6f7878;
}
.help__ans1{
  font-size: 18px;
}
.help_further_queries{
  font-weight: 600;
  font-family: 'Playfair';
}
.sample{
  height: 100%;
}
.todo__container{
  height: 100%;
  padding-bottom: 50px;
  padding-top: 15px;
  display: flex;
}
.todo{
  padding-top: 10px;
  height: 500px;
  width: 368px;
  margin-left:45px;
  box-shadow:5px 6px 7px 1px rgb(132, 132, 132);
  border: 6px solid rgb(60, 157, 206);
  border-radius: 15px;
}
.todo__title{
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
  margin-top:55px;
  font-weight: 400;
}
.todo__input{
  margin-left:53px;
  margin-top: 30px;
  width: 200px;
  height:42px;
  text-indent: 13px;
  border: 1px;
  border-bottom: 1px solid rgb(197, 197, 197);
  border-radius: 6px;
}
.todo_add_btn{
   margin-left: 20px;
   width: 50px;
   height:48px;
   border: 1px solid rgb(203, 203, 203);
   border-radius: 50%;
   background-color: rgb(0, 0, 0);
   color: white;
}
.todo__space{
  border-radius:15px ;
  height: 200px;
  width: 270px;
  margin-left:48px;
  margin-top: 40px;
  border: 0.5px solid rgb(174, 174, 174);
   box-shadow: 1px 1px 3px gray inset;
   overflow: scroll;
}
.todo_items_title{
 margin-top: -6px;
 margin-left: 7px;
 font-weight:200;
 display: flex;
 color: rgb(116, 116, 116);
 font-size: 16px;
}
.todo_title_close{
  display: flex;
  justify-content: space-between;
}
.todo__items{
  display: flex;
  margin-left: 20px;
  margin-top: 16px;
}
.todo__delete{
  width: 10px;
  height: 10px;
  position: absolute;
  margin-left: 220px;
  cursor: pointer;
}
.todo__pencil{
  width: 10px;
  height: 10px;
  position: absolute;
  margin-left: 200px;
  cursor: pointer;
}
.todo_pen_img{
  width: 20px;
}
.todo_clock_img{
  width: 20px;
}
.todo_openbook_img{
  width: 20px;
}
.todo__container ul li{
  list-style: none;
}
.todo__list{
  color: #6f7878;
  font-size: 12px;
  font-family: 'Poppins';
  font-weight: 700;
  list-style: none;
}
.todo__arrow{
  width: 8px;
  height: 8px;
}
.todo__timeplant{
  width:90px;
  height: 90px;
  margin-left: 90px;
  filter: drop-shadow(3px 5px 3px rgb(185, 185, 185));
}
.todo_img_list{
  margin-left:60px;
  margin-top: 233px;
}
.todo_img_list ul li{
 margin-top: 6px;
}
.todo_para_list{
  margin-top: 150px;
}
.todo__left{
 margin-left:135px;
 margin-top: 210px;
}
.todo_left_para{
  color: rgb(166, 166, 166);
  font-size: 14px;
  font-family: 'Playfair';
}
