@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Caveat:wght@400;500;600&family=Lora:wght@400;500;600&family=Merienda&family=Poppins:wght@400;500;600&family=Roboto+Mono:wght@400;500;600&family=Square+Peg&display=swap');

.product__details{
  display: flex;
  gap: 40px;
  padding: 50px;
}
.footer{
  font-family: 'Poppins';
  bottom:0;
  width:100%;
  height:50px;  
  background-color: rgb(255, 245, 245);
  text-align: center;
  border-top: 1px solid rgb(195, 195, 195);
  color: rgb(130, 121, 121);
}
.featured__tutorials{
  color: rgb(128, 123, 123);
  font-size: 25px;
  margin-left: 50px;
  margin-top: 20px;
  font-weight: 600;
}
.trending__technologies{
  color: rgb(128, 123, 123);
  font-size: 25px;
  margin-left: 50px;
  margin-top: 20px;
  font-weight: 600;
}
.trending__details{
  display: flex;
  gap: 40px;
  padding: 50px;
 
}
.main{
  display: flex;
  font-family: 'Poppins';
  background-color: rgb(251, 248, 244);
}
.main_bottom_card{
display: flex;
}
.latest__up{
  display: flex;
  flex-direction: column;
}
.web__tech{
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgb(212, 212, 212);
}
.latest__updates{
  color: rgb(128, 123, 123);
  font-size: 25px;
  margin-left: 50px;
  margin-top: 20px;
  font-weight: 600;
}
.web__technology{
  color: rgb(128, 123, 123);
  font-size: 25px;
  margin-left: 50px;
  margin-top: 20px;
  font-weight: 600;
}
.main__left{
  border-right: 1px solid rgb(242, 242, 242);
}
.table_of_content{
   width: 130px;
   background-color: rgb(242, 242, 242);
   height: 100%;
   border-right: 1px solid rgb(215, 215, 215);
   padding-top: 15px;
   color: rgb(118, 12, 128);
   font-weight: 550;
}
.table_of_content ul {
  list-style: none;
} 
.table_of_content ul li{
  margin-left: -1em;
  margin-top: 10px;
  color: rgb(139, 139, 139);
}
.content__heading{
  margin-left: 15px;
  font-size: 24px;
}
.bulb{
  width: 30px;
  cursor: pointer;
  margin-right: 30px;
}
.dark__bulb{
  width: 30px;
  cursor: pointer;
  margin-right: 30px;
  background-color: white;
  color: white;
}
.dark{
  background-color: rgb(31, 29, 29);
  color: aliceblue;
}
.login__form{
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(220, 220, 220);
  width: 290px;
  height:400px;
  padding:35px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 3px 2px gray;
}
.signup__form{
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(220, 220, 220);
  width: 290px;
  height:530px;
  padding:35px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 3px 2px gray;
}
.email{
  width: 220px;
  height: 47px;
  text-indent: 15px;
  margin-top: 30px;
  border-radius: 20px;
  border: 1px solid rgb(198, 198, 198);
}
.password{
  width: 220px;
  height: 47px;
  text-indent: 15px;
  margin-top: 30px;
  border-radius: 20px;
  border: 1px solid rgb(198, 198, 198);
}
.username{
  width: 220px;
  height: 47px;
  text-indent: 15px;
  margin-top: 30px;
  border-radius: 20px;
  border: 1px solid rgb(198, 198, 198);
}
.number{
  width: 220px;
  height: 47px;
  text-indent: 15px;
  margin-top: 30px;
  border-radius: 20px;
  border: 1px solid rgb(198, 198, 198);
}
.login__btn{
  width: 220px;
  height: 47px;
  background-color: black;
  color: white;
  border: 1px;
  margin-top: 30px;
  border-radius: 20px;
  border: 1px solid rgb(198, 198, 198);
}
.signup__btn{
  width: 220px;
  height: 47px;
  background-color: black;
  color: white;
  border: 1px;
  margin-top: 50px;
  border-radius: 20px;
  border: 1px solid rgb(198, 198, 198);
}
.login{
  height: 100vh;
  width: 100%;
  padding-left: 550px;
  padding-top: 100px;
  background-repeat: no-repeat;
  background-color: rgb(153, 217, 246);
}
.signup{
  height: 100%;
  padding-left: 550px;
  padding-top: 100px;
  background-color: rgb(153, 217, 246);
}
.signup__heading{
  margin-left: 70px;
}
.login__heading{
  margin-left: 80px;
}

.new__account{
  font-size: 13px;
  margin-left:98px;
  width: 500px;
  margin-top: 20px;
  cursor: pointer;
 
}
.already__account{
  font-size: 13px;
  margin-left:71px;
  margin-top: 20px;
  cursor: pointer;
  
}
.forgot__password{
  font-size: 13px;
  margin-left:115px;
  width: 500px;
}
.new_account_link{
  text-decoration: none;
  color: black;
}
.already_account_link{
  text-decoration: none;
  color: black;
}
.main__container{
  display: flex;
  flex-direction: column;
}
.main__second{
  display: flex;
  padding-top: 3px;
}
.nav{
  align-items: center;
  border-bottom: 1px solid rgb(209, 204, 204);
  position: fixed;
  width: 100%;
  height: 65px;
  font-family: 'Poppins'; 
  z-index: 1;
  background-color: transparent;
  box-shadow:2px 2px 15px 1px rgb(164, 164, 164);
}
.nav__container{
  height:550px;
   background-image: url("program.jpg"); 
  background-repeat: no-repeat;
  background-size:100% 650px;
  box-shadow: 6px 2px 1px rgb(169, 168, 168);
}
.nav__home{
  margin-left:20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 500;

  width: 60px;
  height: 35px;
  padding-top: 5px;
  padding-left: 5px;
  
}
.nav__new{
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding-top: 5px;
  padding-left: 7px;
  width: 125px;
  height: 35px;
}
.nav__help{
  text-decoration: none; 
  color: rgb(255, 255, 255);
  padding-top: 5px;
  width: 125px;
  height: 35px;  
}
.nav__search{
  margin-left: 20px;
  text-indent: 15px;
  border-radius: 15px;
  border: 1px solid rgb(190, 190, 190);
}
.nav__login{
  margin-left:8px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 6px;
  width: 55px;
  height: 30px;
  font-size:17px;
  margin-top: -0.6rem;
}
.nav__title{
  margin-top: 4px;
  margin-left: 50px;
  font-size: 25px;
  color: rgb(193, 79, 128);
  
}
.nav__para{
  margin-left: 200px;
  color: rgb(255, 255, 255);
}
.nav__para2{
  color: rgb(187, 187, 187);
  font-size: 13px;
}
.nav_menu_icon{
  width: 25px;
  margin-left: 30px;
  margin-top: -10px;
}
.get__started{
  margin-top: 65px;
  font-size:44px;
  margin-left: 200px;
  color: rgb(255, 255, 255);
 font-weight: 700;
}
.get_started_btn{
  margin-left: 200px;
  cursor: pointer;
 border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  background-color: transparent;
  font-size: 15px;
  padding: 10px;
  font-weight: 500;
}
.contact_us_btn{
  margin-left: 30px;
  cursor: pointer;
  border: 1px solid; 
  color: rgb(0, 0, 0);
  font-size: 15px;
  padding: 10px;
  font-weight: 500;
  background-color: rgb(255, 255, 255);
}
.light__bulb{
  width: 30px;
  margin-left: 410px;
  cursor: pointer;
}
.black__bulb{
  width: 30px;
  margin-left: 410px;
  background-color: transparent;
}
.nav__bottom{
  position: absolute;
  margin-top: 90px;
}
.password__error{
  color: rgb(221, 46, 46);
  margin-left:95px;
  font-size: 13px;
}
.email__error{
  font-size: 13px;
  color: rgb(221, 46, 46);
  margin-left: 120px;
}
.number__error{
  font-size: 13px;
  color: rgb(221, 46, 46);
  margin-left: 105px;
}
.username__error{
  font-size: 13px;
  color: rgb(221, 46, 46);
  margin-left: 95px;
}
.icon{
  color: rgb(4, 0, 2);
  margin-top: -0.5rem;
  margin-left: 15px;
  }
  
  .new{
    height: 100vh;
  }
  .new__title{
    margin-left: 30px;
    margin-top: 20px;
    font-size: 30px;
    text-decoration: underline;
    color: rgb(118, 12, 128);
  }
  .blog__title{
    font-size: 30px;
    margin-left: 20px;
  }
  .blog__para{
    margin-left: 20px;
  }
  .nav__blog{
    text-decoration: none;
    color: white;
    font-size:19px;
    margin-left: -1rem;
  }
  .blog{
    height: 100vh;
    background-color: rgb(222, 222, 222);
    padding-top: 30px;
  }
  .blog__img{
    margin-left: 800px;
    position: absolute;
  }
  .blog__contents{
    display: flex;
  }
  .blog__list ul li {
    color: rgb(43, 147, 226);
    margin-left: 20px;
    font-weight: 600;
    font-size: 20px;
  }
  .blog__list ul li:hover {
    color: rgb(43, 147, 226);
    margin-left: 25px;
    font-weight: 600;
    font-size:20px;
  }
  .blog__list ul {
    list-style: none; 
  }
  .blog__list ul li::before {
    content: "\2022";  
    color: rgb(0, 0, 0); 
    font-weight: bold; 
    display: inline-block;  
    width: 1em;  
    margin-left: -1em; 
  }
  .product{
    cursor: pointer;
  }
  .product__page{
    height: 100vh;
  }
  .intro{
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(251, 245, 238);
  }
  .intro__title{
    color: rgb(0, 0, 0);
  }
  .intro_second_title{
    font-weight: 600;
    color: black;
  }
.intro_title_span{
  font-size: 50px;
  font-weight: 600;
  color: rgb(103, 98, 98);
}
.intro__icons{
  display: flex;
  gap: 45px;
  margin-top: 20px;
}
.intro_icon_react{
  width: 50px;
  cursor: pointer;
  filter: drop-shadow(2px 3px 1px rgb(140, 140, 140));
}
.intro_icon_js{
  width: 50px;
  cursor: pointer;
  filter: drop-shadow(2px 3px 1px rgb(140, 140, 140));
}
.intro_icon_css{
  width: 50px;
  cursor: pointer;
  filter: drop-shadow(2px 3px 1px rgb(140, 140, 140));
}
.intro_icon_html{
  width: 50px;
  cursor: pointer;
  filter: drop-shadow(2px 3px 1px rgb(140, 140, 140));
}
.intro__para{
  color: black;
}
.goal{
  background-image: url("typewhite.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(70%);
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.goal__title{
  color: rgb(255, 255, 255);
}
.goal__para{
  color: rgb(255, 255, 255);
}
.product__img{
  border:7px solid white;
}
.trending__img{
  border:7px solid white;
}
.web__img{
  border:5px solid white;
}
.update__img{
  border:5px solid white;
}
.menu{
  background-color: rgb(255, 240, 254);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;  
  transition-timing-function: ease;
  transition-delay: 1s;
  box-shadow: 3px 1px 8px rgb(75, 75, 75);
}

.menu ul li {
 
  list-style: none;
  margin-top:40px;
  width:200px;
 
}
.close{
  width: 10px;
  position: absolute;
  z-index: 1;
  margin-top: -35px;
  margin-left: 35px;
}
.menu__logo{
  width: 17px;
}
.menu__title{
  position: absolute;
  z-index: 1;
  font-size: 18px;
  margin-left: 53px;
  margin-top: -27px;
  color: rgb(118, 12, 128);
}